<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>admin</p>
   
    <a href="{% url 'viewusers' %}">viewusers</a><br><br>
    <a href="{% url 'halldetails' %}">halls details</a><br><br>
    <!--<a href="{% url 'addfood' %}">addfood</a><br><br>-->
    <a href="{% url 'fooddetails' %}">fooddetails</a><br><br>
    <a href="{% url 'delete_profile' %}">Delete Profile</a><br><br>
    <!--<a href="{% url 'adddecoration' %}">add decoration</a><br><br> -->
    <a href="{% url 'decorationdetails' %}">decoration details</a><br><br>
    
    <a href="{% url 'admin_view_booking' %}">admin_view_booking</a><br><br>
</body>
</html>