<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'addfood' %}"><button>Add Food</button></a>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Image</th>
        </tr>
        {% for x in data %}
        <tr>
            <td>{{x.food_name}}</td>
            <td>{{x.food_price}}</td>
            <td><img src="{{x.food_image.url}}" alt="img"  height="100px" width="100px"></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>