<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'addhall' %}">halls register</a><br><br>
    <div>
        <table>
            <tr>
                <th>Hall Name</th>
                <th>Location</th>
                <th>Price(per day)</th>
                <th>image</th>
            </tr>
            {% for x in data %}
            <tr>
                <td>{{x.hall_name}}</td>
                <td>{{x.location}}</td>
                <td>{{x.price_per_day}}</td>
                <td><img src="{{x.photo_url.url}}" alt="hgfdhfcgh" height="100px" width="100px"></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
