<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>Sl NO</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Username</th>
        </tr>
        {% for x in user_details %}
        <tr>
            <td>{{ forloop.counter}}</td>
            <td>{{x.user_id.first_name}}</td>
            <td>{{x.user_id.email}}</td>
            <td>{{x.phone_number}}</td>
            <td>{{x.gender}}</td>
            <td>{{x.address}}</td>
            <td>{{x.user_id.username}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>